<nav>
    <ul>
        <li><a href="/journal">Journal</a></li>
        <li><a href="/journal/create">New entry</a></li>
        <li><a href="/settings">Settings</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>
