@using _10xJournal.Client.Features.Authentication.Logout
@inject LogoutHandler LogoutHandler

<nav>
    <ul>
        <li><a href="/app/journal">Dziennik</a></li>
        <li><a href="/app/journal/new">Nowy wpis</a></li>
        <li><a href="/settings">Ustawienia</a></li>
        <li>
            <button @onclick="HandleLogoutAsync" type="button" class="secondary">
                Wyloguj
            </button>
        </li>
    </ul>
</nav>

@code {
    private async Task HandleLogoutAsync()
    {
        await LogoutHandler.LogoutAsync();
    }
}