@page "/reset-password"

<PageTitle>Resetowanie hasła - 10xJournal</PageTitle>

<div class="reset-password-container">
    <h1>Resetowanie hasła</h1>
    
    <p>
        Podaj adres e-mail powiązany z Twoim kontem. 
        Wyślemy Ci link do zresetowania hasła.
    </p>

    <ResetPasswordForm />
</div>

@code {
    // This is a simple container/routing component
    // All logic is handled in ResetPasswordForm component
}
