@page "/registration-success"
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Konto utworzone - 10xJournal</PageTitle>

<main>
    <header>
        <h1>Sprawdź swoją skrzynkę</h1>
    </header>

    <p>
        Wysłaliśmy wiadomość z linkiem aktywacyjnym. Kliknij go, aby dokończyć rejestrację i zalogować się do aplikacji.
    </p>

    <p>
        Jeśli wiadomość nie dotarła w ciągu kilku minut, sprawdź folder spam i spróbuj ponownie zarejestrować się przy użyciu tego samego adresu e-mail.
    </p>

    <a href="/login">Przejdź do logowania</a>
</main>
